```
# Database files
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.envrc
.coverage
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
*.log
*.sqlite3
*.sqlite3-journal
.DS_Store
Thumbs.db
```